/**
 * Created by josephheenan on 7/26/15.
 */
exports.env = "$ENV_NAME";

exports.https = $HTTPS;
exports.port = $PORT;
exports.baseUrl = "$BASE_URL";
exports.tvbWebURL = "$TVB_WEB_URL"
exports.tvbWebIcon = "$TVB_WEB_ICON"
// For local dev instance should be LOCAL
exports.instance = "$INSTANCE";

exports.symphonyConfigDomain = "$SYMPHONY_CONFIG_DOMAIN";
exports.openfinConfigAppName = "$OPENFIN_CONFIG_APP_NAME";
exports.openfinConfigAppDescription = "$OPENFIN_CONFIG_APP_NAME";
exports.openfinConfigShortcutName = "$OPENFIN_CONFIG_SHORTCUT_NAME";
exports.openfinConfigShortcutDescription = "$OPENFIN_CONFIG_SHORTCUT_DESCRIPTION";
exports.openfinConfigRuntimeArguments = "$OPENFIN_CONFIG_RUNTIME_ARGUMENTS";
exports.openfinConfigDefaultWidth = "$OPENFIN_CONFIG_DEFAULT_WIDTH";
exports.openfinConfigDefaultHeight = "$OPENFIN_CONFIG_DEFAULT_HEIGHT";
exports.openfinConfigUUID = "$OPENFIN_CONFIG_UUID";

exports.linkedInClientId = "$LINKED_IN_CLIENT_ID";
exports.ttClientId = "$TT_CLIENT_ID";

exports.priv_key_path = "$PRIV_KEY_PATH";
exports.pub_key_path =  "$PUB_KEY_PATH";
exports.pub_ca_path = "$PUB_CA_PATH";

exports.uglify = $UGLIFY;

