<div class="register-page login-page">
  <div class="widget-wrapper">
    <div class="login-widget">

      <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>

      <div class="login-widget-header">
        <h4>{{'REGISTER.REGISTRATION_FORM' | translate}}</h4>
      </div>

      <div class="login-widget-body">
        <form class="form-horizontal" ng-submit="register()" role="form" >
          <div class="form-fields">
            <div class="form-group">
              <input type="text"
                  class="form-control"
                  ng-class="{ 'has-error': errors.firstname }"
                  ng-change="resetError('firstname')"
                  ng-model="userData.firstname"
                  placeholder="{{'REGISTER.FIRST_NAME' | translate}}"
                  autofocus />

              <span class="pull-right text-danger" ng-show="errors.firstname">
                {{'REGISTER.INVALID_INPUT' | translate}}
              </span>
            </div>
            <div class="form-group">
              <input type="text"
                  class="form-control"
                  ng-class="{ 'has-error': errors.lastname }"
                  ng-change="resetError('lastname')"
                  ng-model="userData.lastname"
                  placeholder="{{'REGISTER.LAST_NAME' | translate}}" />

              <span class="pull-right text-danger" ng-show="errors.lastname">
                {{'REGISTER.INVALID_INPUT' | translate}}
              </span>
            </div>
            <div class="form-group">
              <input type="email"
                  class="form-control"
                  ng-class="{ 'has-error': errors.email }"
                  ng-change="resetError('email')"
                  ng-model="userData.email"
                  placeholder="{{'REGISTER.EMAIL' | translate}}" />

              <span class="pull-right text-danger" ng-show="gotErrors">
                {{'REGISTER.' + errors.email | translate}}
              </span>
            </div>
            <div class="form-group">
              <input type="tel"
                     class="form-control"
                     ng-model="userData.phone"
                     placeholder="Phone Number" />
            </div>
          </div>
          <div class="form-actions">
            <button type="submit"
                class="btn btn-block btn-login"
                ng-class="{ 'has-error': !!userData.error }" >
              {{'REGISTER.REGISTER' | translate}}
            </button>
            <button type="button"
                class="btn btn-block btn-login"
                ng-click="gotToLogin()" >
              {{'REGISTER.SIGN_IN' | translate}}
            </button>
          </div>
        </form>

      </div>
    </div>

  </div>

  <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-register"></span>

  <gkt-footer></gkt-footer>
</div>
