/*
Common CSS for modal dialogs.
*/

.default-modal-dialog select {
    color: #000
}

/*** My Info Dialog ***/
.ngdialog-close {
    display: none !important;
}

#myInfoDlg .modal-header,
.default-modal-dialog .modal-header {
    min-height: 15px !important;
    height: 15px;
    padding: 12px;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #729459 0%, #32670b 69%, #32690a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#729459), color-stop(69%,#32670b), color-stop(100%,#32690a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#729459 0%,#32670b 69%,#32690a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#729459 0%,#32670b 69%,#32690a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#729459 0%,#32670b 69%,#32690a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#729459 0%,#32670b 69%,#32690a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#32690a',GradientType=0 ); /* IE6-9 */
}

#myInfoDlg,
.default-modal-dialog {
    /*position: fixed;
    left: 30px;
    width: 340px;
    top: 60px;*/
    background: #373634;
    color: white;
}

.default-modal-dialog .form-group {
    padding: 15px;
    margin-bottom: 0;
}

.default-modal-dialog input[type="text"],
.default-modal-dialog input[type="number"],
.default-modal-dialog input[type="email"],
.default-modal-dialog textarea {
    color: black;
    border: 1px solid grey;
}

.default-modal-dialog .row input[type="text"],
.default-modal-dialog .row input[type="email"] {
    width: 100%;
}

.default-modal-dialog .form-group.has-error input[type="text"],
.default-modal-dialog .form-group.has-error input[type="email"],
.default-modal-dialog .form-group.has-error textarea {
    border-color: #F10F0F;
}

.default-modal-dialog .form-group.has-error input[type="text"].ng-dirty,
.default-modal-dialog .form-group.has-error input[type="email"].ng-dirty,
.default-modal-dialog .form-group.has-error textarea.ng-dirty {
    border-color: #000;
}

.default-modal-dialog .form-group.submit {
    text-align: right;
}

.default-modal-dialog input[type="submit"] {
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #348a00;
    background: linear-gradient(to bottom, #88d313 0%, #348a00 100%);
}

#myInfoDlg .modal-header .modal-title,
.default-modal-dialog .modal-header .modal-title {
    margin-top: -12px;
    color: white;
}

#myInfoDlg .modal-header button,
.default-modal-dialog .modal-header button {
    margin-top: -10px;
}

#myInfoDlg .form-group {
    padding-left: 125px !important;
    margin-bottom: 10px !important
}

#myInfoDlg .name {
    margin-top: 20px;
}

#myInfoDlg h4,
.default-modal-dialog h4 {
    margin: 0px !important;
}

#myInfoDlg .keyImg {
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: -20px;
}

#myConnectionDlg .form-group {
    padding: 0 10px;
}

/***  Login Failure Dialog *****/
.modal-header {
    min-height: 15px !important;
    height: 15px;
    padding: 12px;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #729459 0%, #32670b 69%, #32690a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#729459), color-stop(69%,#32670b), color-stop(100%,#32690a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#729459 0%,#32670b 69%,#32690a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#729459 0%,#32670b 69%,#32690a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#729459 0%,#32670b 69%,#32690a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#729459 0%,#32670b 69%,#32690a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#32690a',GradientType=0 ); /* IE6-9 */
}

.modal-header .modal-title {
    margin-top: -12px;
    color: white;
}

.modal-header button {
    margin-top: -10px !important;
}

.ngdialog-content {
    padding : 0px !important;
}

.modal-dialog a {
    color: #16ad0e;
}

#myUsersListDlg a,
#myUsersListDlg a:visited {
    color: #4d792a;
}

#myUsersListDlg a:hover {
    color: #ffffff;
}

.modal-dialog {
    background: #2c2e2c;
    color: #fff;
}

.modal-dialog .error-text {
    text-align: center;
    margin: 5px auto 5px;
}

.modal-dialog .close-dialog-button-wrapper {
    text-align: center;
}

.modal-dialog .close-dialog-button-wrapper .close-dialog-button {
    background: #5bb01e;
    padding: 5px;
    min-width: 90px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#invite-modal-dlg .greeting {
    width: 100%;
    height: 75px;
}

.invite-modal-dialog-wrapper .modal-header {
    padding: 15px 12px;
}

.invite-modal-dialog-wrapper .invite-result-wrapper {
    padding: 30px 10px;
    color: #ffffff;
    background: #151515;
    text-align: center;
}



.audio-device-modal .form-group h3 {
  margin-top: 0;
}

.audio-device-modal .alert-warning {
    margin: 0 18px;
    padding: 10px 120px;
    color: #ecdbc0;
    background-color: #676767;
}

.audio-device-modal .form-group label {
  padding-top: 5px;
  margin-bottom: 0;
  text-align: right;
}

.confirm-reload-dialog .reload-paragraph {
  width: 60%;
  margin: 15px auto;
}
