.register-page .form-group {
  position: relative;
}

.register-page .form-group .text-danger {
  position: absolute;
  right: 0;
}

.registration-widget {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 488px;
  padding: 0 43px 25px;
  margin: -250px 0 0 -244px;
  border-radius: 3px;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, .56);
  background: #373634;
  text-align: center;
}

.registration-widget .btn {
  margin-top: 15px;
}

.registration-widget .text-success {
  color: #ffffff;
}

.registration-widget-logo {
  background: transparent url(/img/GKT_Logo_White.png) 50% 20px no-repeat;
  width: 260px;
  height: 100px;
  margin: 0 auto;
}
