#ringdowns-main-container {
    width: 100%;
    overflow: hidden;
    flex: 1;
    position: relative;
}

#ringdowns-main-container .flex-height-wrapper {
    position: absolute;
    height: calc(100% - 15px);
    width: calc(100% - 20px);
}

.ringdowns-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    height: 100%;
    justify-content: space-between;
}

.ringdowns50 {
    height: 50%;
}

.ringdowns100 {
    height: 100%;
}

.invisible {
    display: none !important;
}

.quoteCapture {
    color: black;
}

.quoteLabel {
    color: white;
}

#dictate-wrapper {
    display: flex;
    flex-direction: column;
}

.buttonsContainer {
    padding-bottom: 10px;
}

.transcriptionContainer {
    width: 100%;
    background-color: #424242;
}

.ringdown-box-wrapper {
    margin: 5px 0;
    height: 33%;
    min-height: 56px;
    max-height: 70px;
    box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.58);
    flex: 0 0 auto;
    position: relative;
}

.ringdown-box-wrapper, .ringdown, .ringdown-panel {
    border-radius: 100px;
}

.ringdown
{
    height: 100%;
    width: 100%;
    background: rgba(116,116,116,1);
    position: absolute;
}

.online.ringdown,
.speed-dial.ringdown {
    cursor: pointer;
}

.ringdown-panel {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 55px 0 15px;
    align-items: center;
    border-radius: 100px;
    background-image: -webkit-linear-gradient(top, #6f6f6f 0%,#797979 49%, #636363 50%, #666666 100%);
}

.online.ringdown .ringdown-panel,
.speed-dial.ringdown .ringdown-panel {
    height: calc(100% - 10px);
    background: -webkit-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(219,219,219,1) 49%, rgba(206,206,206,1) 50%, rgba(222,222,222,1) 100%);
}

.ringdown-panel.settings-visible,
.speed-dial.ringdown .ringdown-panel.settings-visible,
.online.ringdown .ringdown-panel.settings-visible {
    height: 100%;
    background: #131313;
    cursor: default;
}

.online.ringdown .ringdown-panel.settings-visible .contact-name,
.speed-dial.ringdown .ringdown-panel.settings-visible .contact-name {
    color: #fff;
}

.ringdown.on-call .ringdown-panel
{
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(23,153,40,1) 0%, rgba(48,186,66,1) 49%, rgba(23,153,40,1) 50%, rgba(23,153,40,1) 100%);
}

.ringdown .contact-name {
    padding: 0 0 0 23px;
    max-height: 45px;
    font-size: 15px;
    background: transparent url(../img/red-led.png) no-repeat 0 50%;
    color: #d0d0d0;
    background-size: 15px;
    overflow: hidden;
    font-weight: bold;
}

.online.ringdown .contact-name {
    color: #282828;
    background-image: url(../img/green-led.png);
}

.away.online.ringdown .contact-name {
    background-image: url(../img/orange-led.png);
}

.online.ringdown.on-call .contact-name {
    color: #ffffff;
    background-image: url(../img/svg/shouted-green-led.svg);
}

.away.online.ringdown.on-call .contact-name {
    background-image: url(../img/orange-led.png);
}

.speed-dial.ringdown .contact-name {
    color: #282828;
    background-image: url(/img/svg/new/ic-call-green.svg);
    background-size: 18px;
}
.speed-dial.ringdown.on-call .contact-name {
    color: #ffffff;
    background-image: url(/img/svg/new/ic-call.svg);
}

.ringdown-settings-delete {
   position: absolute;
    top: 0;
    bottom: 0;
    right: 7px;
    margin: auto;
    border: 1px solid #575757;
    z-index:3;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #575757
}

.ringdown .settings-button {
    position: absolute;
    margin: auto;
    right: 43px;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 27px;
    top: 0;
}

.ringdown .settings-button.tearout {
    background-image: url("/img/openfin/openfin-window.png");
}

.ringdown .settings-button-wrapper .openfin {
    right: 78px;
    top: 5px;
}

.ringdown .settings-button.hoot-device {
    background-image: url(/img/svg/new/ic-shout.svg);
}

.ringdown .settings-button.ringdown-device {
    background-image: url(/img/svg/new/ic-ring-gray.svg);
}

.controls-wrapper{
    width: auto;
    height: 100%;
}

.settings-visible .controls-wrapper{
    width: 100%;
    max-width: 25px;
}

.settings-visible.openfin-mode .controls-wrapper{
    max-width: 70px;
}

.ringdown-box-wrapper.rectangular-border {
    border-radius: 10px;
}
