<div class="navbar-fixed-bottom row-fluid login-page-footer">
  <div class="navbar-inner">
    <div class="gkt-links-wrapper">
      <ul class="list-inline text-align-center gkt-links">
        <li class="gkt-link">
          <a target="_blank" href="https://greenkeytech.com">
            © Green Key Technologies, LLC 2015
          </a>
        </li>
        <li class="gkt-link">
          <a target="_blank" href="http://greenkeytech.com/application-terms-of-use">
            {{'FOOTER.TERMS_OF_USE' | translate}}
          </a>
        </li>
        <li class="gkt-link">
          <a target="_blank" href="https://greenkeytech.com/vb-support">
            {{'FOOTER.SUPPORT' | translate}}
          </a>
        </li>
        <li class="gkt-link">
          <a href>
            <language-picker><language-picker/>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
