<div class="unsupported-browser-page error-page">
    <div class="warning-widget unsupported-browser-warning">
        <div class="warning-text unsupported-browser-warning-text">
            The Green Key application is not supported in this web browser. Please use Google Chrome or the downloadable version below.
        </div>
        <a href="https://dl.openfin.co/services/download?fileName=GreenKey&config={{::openFinConfigURL}}" target="_blank" class="desktop-app-link">Download Desktop App</a>
    </div>

    <div class="navbar-fixed-bottom row-fluid">
        <div class="navbar-inner">
            <div class="gkt-links-wrapper">
                <ul class="list-inline text-align-center gkt-links">
                    <li class="gkt-link"><a target="_blank" href="https://greenkeytech.com">© Green Key Technologies, LLC 2015</a></li>
                    <li class="gkt-link"><a target="_blank" href="http://greenkeytech.com/application-terms-of-use">Terms of Use</a></li>
                    <li class="gkt-link"><a target="_blank" href="https://greenkeytech.com/vb-support">Support</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>