body.whats-app-notification * {
  box-sizing: border-box;
}
body.whats-app-notification {
  box-sizing: border-box;
  color: #ffffff;
  /*background-color: #8c8c8c;*/
  background-color: #1F1F1F;
  font-family: Arial, sans-serif;
}

.whats-app-notification h1 {
  color: #B2B2B2;
  font-size: 15px;
  margin-bottom: 5px;
}

.whats-app-notification .message-text {
  display: inline-block;
  width: 80%;
  font-size: 13px;
  padding-left: 10px;
  padding-top: 8px;

  white-space: nowrap;
  overflow:hidden !important;
  text-overflow: ellipsis;
}
/*.whats-app-notification .message-from {
  width: 80%;
  font-weight: bold;
  font-size: 14px;
}
*/
.whats-app-notification .message-icon {
  display: inline-block;
  width: 17%;
  height: 30px;
}
.whats-app-notification .message-icon:not([src]) {
  display: none;
}

.whats-app-notification .message-close-icon {
  position: absolute;
  top: 2px;
  right: 3px;
  width: 16px;
  height: 16px;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid gray;
  font-size: 12px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}
